<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Admin</title>
    {css href="/static/admin/frame/layui/css/layui.css" /}
    {css href="/static/admin/frame/static/css/style.css" /}
    <link rel="icon" href="/static/admin/frame/static/image/code.png">
</head>